<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibtikartechs.apps.el7a2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permision.READ_GSERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MvpApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.main.MainActivity">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCVxwa45erG8HFf-sl5vQ1HCM0U7YzAUss" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.db_helper.ShoppingCartItemProvider"
            android:authorities="com.ibtikar.app.el7a2"
            android:exported="false" />

        <activity
            android:name=".ui.activities.completeorder.CompleteOrderActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.shopping_cart.ShoppingCartActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.main_deal_deatails.MainDealDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.order_details.OrderDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.registeration.RegisterationActivity"
            android:exported="true" />

        <service android:name=".utilities.firebase.FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".utilities.firebase.FCMRegisteratinService" />

        <!-- ###  Service response to token refresh event  ### -->
        <service
            android:name=".utilities.firebase.FCMTokenRefreshListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ui.activities.wishes.WishesActivity" />
        <activity android:name=".ui.activities.intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>